<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create a Ride</title>
</head>
<body>
	<form th:action="@{/member/addRide}" th:object="${ride}" method="post">
		<table align="center" border="1">
			<tr>
				<td>Name</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td><div th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}" th:style="${'color:red'}"></div><td>
			</tr>

			<tr>
				<td>Duration</td>
				<td><input type="text" th:field="*{duration}" /></td>
				<td><div th:if="${#fields.hasErrors('duration')}"
					th:errors="*{duration}" th:style="${'color:red'}"></div><td>
			</tr>

			<tr>
				<td colspan="2"><input type="submit" value="create" /></td>
			</tr>
		</table>
	</form>
</body>
</html>